
<div class="dashboard">
	<div class="metric-row">
		<div class="metric-4 cpu" style="position: relative; width: 200px;">
			<canvas id="metric-cpu" width="200" height="230"></canvas>
		</div>
		<div class="metric-4 memory" style="position: relative; width: 200px;">
			<canvas id="metric-memory" width="200" height="230"></canvas>
		</div>
		<div class="metric-4 disk" style="position: relative; width: 200px;">
			<canvas id="metric-disk" width="200" height="230"></canvas>
		</div>
	</div>

	<div class="metric-row">
		<div class="metric-6 cpu-time" style="position: relative;">
			<canvas id="metric-cpu-time" width="100%" height="200"></canvas>
		</div>
		<div class="metric-6 memory-time" style="position: relative;">
			<canvas id="metric-memory-time" width="100%" height="200"></canvas>
		</div>
	</div>

	<div class="http-requests">
		<div class="metric-head">
			<div class="metric-row inset">
				<div class="metric-4"><%=l('url-path')%></div>
				<div class="metric-2"><%=l('duration-min')%></div>
				<div class="metric-2"><%=l('duration-max')%></div>
				<div class="metric-2"><%=l('duration-avg')%></div>
				<div class="metric-2"><%=l('request-count')%></div>
			</div>
		</div>
		<div class="metric-body" id="http-requests-body">
			
		</div>
	</div>

	<script type="text/template" id="tpl-http-requests-row">
		<div class="metric-row inset hover">
			<div class="metric-4">{{path}}</div>
			<div class="metric-2">{{min}}</div>
			<div class="metric-2">{{max}}</div>
			<div class="metric-2">{{avg}}</div>
			<div class="metric-2">{{count}}</div>
		</div>
	</script>
</div>

<script type="text/javascript">
	window.apm = window.apm || {};
	window.apm.currApp = <%-JSON.stringify(application)%>;
</script>